arcus-azureml>=1.1.2.2a2020061514
arcus-ml>=1.0.11.1
opencv-python==3.4.7.28
azureml-telemetry
azureml-widgets
azureml-dataprep
azureml-train
numpy
pandas
azureml-core
tqdm
joblib
scikit-learn
matplotlib
azureml-core
tqdm
scikit-learn
seaborn
scikit-image
inference-schema